-#= render 'shared/modal',
  :modal_id => 'mymod',
  :header => 'Привет',
  :body => 'web/welcome/text',
  :save_url => root_path,
  :save_title => 'Отправить',
  :link_title => 'Push me',
  :link_class => 'btn btn-primary btn-large'

