- content_for :back  do
  = link_to 'Назад', params[:from_url], :type => "reset"

- content_for :title  do
  = @tdev_dev.inumber

= render 'form',
  :value => @tdev_dev,
  :url => tdev_dev_path(@tdev, :from_url => params[:from_url]),
  :from_ur => params[:from_url]