= render 'form',
  :value => @model,
  :url => special_model_path(@model),
  :from_url => edit_special_model_path(@model)

%br
%br
%br

= render 'actions',
  :value => @model,
  :from_url => edit_special_model_path(@model)

-#= 'Был создан:'
-#= @tcabel.created_at
-#%br
-#= 'Последнее изменение:'
-#= @tcabel.updated_at
-#%br
-#= 'Пользователь'
-#= @tcabel.user