/* Base Styles */
html {font-size:100%;overflow-y:scroll;}
body {margin:0;padding:0;background:#fff;/*-moz-linear-gradient(top, #cccccc 0%, #eaeaea 72px);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(35%,#eaeaea));background:-webkit-linear-gradient(top, #cccccc 0%,#eaeaea 72px);background:-o-linear-gradient(top, #cccccc 0%,#eaeaea 72px);background:-ms-linear-gradient(top, #cccccc 0%,#eaeaea 72px);background:linear-gradient(top, #cccccc 0%,#eaeaea 72px);background-color:#eaeaea;background-repeat:no-repeat;*/}
body, button, input, select, textarea {font-family:Arial, Verdana, Helvetica, sans-serif;font-size:12px;line-height:18px;color:#333;}
a {color:#0a83ab;outline:none;}
a:hover {color:#e3030f;}
a:focus {-moz-outline-style: none;}
a:hover, a:active {outline:0;text-decoration:none;}
a.pseudo {text-decoration:none;border-bottom:1px dashed;}
h1 {font-weight:normal;font-size:26px;line-height:32px;margin:0 0 20px 0;text-transform:uppercase;position:relative;}
h1 + h2 {margin-top:-10px;}
h2 {font-weight:normal;font-size:18px;line-height:24px;margin:32px 0 16px 0;position:relative;min-height:24px;}
h2 + .content-table {margin-top:0;}
h3 {font-size:16px;margin:9px 0 9px;}
input:focus, textarea:focus {outline:none;}
img {border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
ul, ol {margin:12px 0;padding:0 0 0 20px;}
p {margin:16px 0;}
li {margin:0;}
table {border-collapse:collapse;border-spacing:0;}
th, td {vertical-align:top;}
blockquote {margin:9px 40px;}
pre, code, kbd, samp {font-family:monospace;font-size:1em;}
pre {white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q {quotes:none;}
q:before, q:after {content:"";content:none;}
sub, sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
form {margin:0;}
fieldset {border:0;margin:0;padding:0;}
label {cursor:pointer;}

.page {margin:0 20px 0 32px;position:relative;min-width:960px;}
.header {margin:0 0 20px 245px;height:102px;overflow:hidden;color:#333;}
.header a {color:#333;}
.header p {margin:0;}
.header-info {float:right;text-align:right;}
.header-taglines {float:left;margin:0 0 10px;color:#666;}
.header-tagline {font-size:18px;font-weight:bold;margin:16px 0 4px !important;}
.header-info {margin:20px 0 0;}
.footer {margin:0 0 20px;clear:both;float:right;color:#666;font-size:10px;overflow:hidden;}
.footer-menu {list-style:none;margin:0;padding:0;}
.footer-menu li {float:left;margin-right:10px;}
.footer-copy a {color:#666;}
.page-message {opacity:0;display:none;position:relative;z-index:10;padding:9px 40px 9px 50px;margin:10px 0;background:#e8e8e8 url('icon-ok.png') 20px 10px no-repeat;-webkit-transition:all 250ms ease;-moz-transition:all 250ms ease;-o-transition:all 250ms ease;transition:all 250ms ease;}
.page-message.active {opacity:1;display:block;}
.page-message a {color:#333;}
.page-message-close {position:absolute;width:16px;height:16px;right:10px;text-decoration:none;}
.page-message-close:before {content:' \00d7';}
.popup-content {width:720px;margin:20px;}
.popup-content .note {color:#666;}
.popup-content .note strong {}
.popup-submit {margin-top:30px;}

.content-wrapper {position:relative;padding:20px 10px;margin:0 0 20px;background:#d7d7d7;/*-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;*/}

.sidebar {font-size:11px;float:left;top:108px;left:0;width:212px;margin:0 0 0 -25px;}
.sidebar-logo {line-height:34px;position:absolute;left:0;top:-122px;padding:0 20px 20px 0;}
.guest .sidebar-logo {top:0;}
.sidebar-nav {position:relative;margin:0 0 16px 0;}
.sidebar-nav-title {color:#fff;width:172px;font-size:11px;line-height:34px;height:50px;padding:0 20px;background:#ba1414 url('bg-sidebar-nav.png');/*
background: -moz-linear-gradient(top, rgba(230,144,144,1) 0%, rgba(196,26,27,1) 15px, rgba(186,20,20,1) 4px, rgba(186,20,20,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,144,144,1)), color-stop(15ox,rgba(196,26,27,1)), color-stop(4px,rgba(186,20,20,1)), color-stop(100%,rgba(186,20,20,1)));
background: -webkit-linear-gradient(top, rgba(230,144,144,1) 0%,rgba(196,26,27,1) 15px,rgba(186,20,20,1) 4px,rgba(186,20,20,1) 100%);
background: -o-linear-gradient(top, rgba(230,144,144,1) 0%,rgba(196,26,27,1) 15px,rgba(186,20,20,1) 4px,rgba(186,20,20,1) 100%);
background: -ms-linear-gradient(top, rgba(230,144,144,1) 0%,rgba(196,26,27,1) 15px,rgba(186,20,20,1) 4px,rgba(186,20,20,1) 100%);
background: linear-gradient(top, rgba(230,144,144,1) 0%,rgba(196,26,27,1) 15px,rgba(186,20,20,1) 4px,rgba(186,20,20,1) 100%);
/*-webkit-border-radius:15px 15px 0 0;-moz-border-radius:15px 15px 0 0 ;border-radius:15px 15px 0 0;*/
}
.sidebar-nav-menu {list-style:none;line-height:24px;margin:0;padding:0 0 10px 0;border:1px solid #ff8080;border-width:0 1px 1px;
background: #ffffff;
/*background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,217,217,1) 1px, rgba(255,255,255,1) 12px);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(1px,rgba(255,217,217,1)), color-stop(12px,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,217,217,1) 1px,rgba(255,255,255,1) 12px);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,217,217,1) 1px,rgba(255,255,255,1) 12px);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,217,217,1) 1px,rgba(255,255,255,1) 12px);
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,217,217,1) 1px,rgba(255,255,255,1) 12px);
/*-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;*/
}
.sidebar-nav-menu .nav-menu-item a {display:block;padding:0 20px;position:relative;z-index:7;zoom:1;}
.nav-menu-link:hover,
.nav-menu-link.active {color:#fff;background:#ff0000 url('bg-nav-menu.png') repeat-y;text-decoration:none;}
.sidebar-promo {position:relative;z-index:5;margin:20px 0;border:1px solid #ff8080;background:#ffffff url('gradient-top-red.png') repeat-x;
/*
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,217,217,1) 1px, rgba(255,255,255,1) 12px);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(1px,rgba(255,217,217,1)), color-stop(12px,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,217,217,1) 1px,rgba(255,255,255,1) 12px);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,217,217,1) 1px,rgba(255,255,255,1) 12px);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,217,217,1) 1px,rgba(255,255,255,1) 12px);
background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,217,217,1) 1px,rgba(255,255,255,1) 12px);
/*-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;*/
}
.sidebar-promo a {width:150px;display:inline-block;position:relative;background:#fff;vertical-align:middle;height:90px;padding:10px;}

.content {position:relative;padding:27px 212px 20px 32px;min-height:320px;margin:/*34px*/0 0 0 210px;background:#fff;color:#666;/*-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;*/}
.content:before {opacity:0;-webkit-transition:500ms ease;-moz-transition:500ms ease;-o-transition:500ms ease;transition:500ms ease;}
.loading-screen {display:none;}
.loading-screen .loader-icon {display:block;width:32px;height:32px;margin:150px auto;}
.content.loading .loading-screen {display:block;content:'';opacity:0.85;position:absolute;z-index:999;left:0;top:0;right:0;bottom:0;background:#fff;/*-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;*/}
.content.loading .loading-screen {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";filter:alpha(opacity=85);}
.content-aside-wrap {position:absolute;right:10px;/*float:right;margin-right:-228px;*/width:170px;/*-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;*/}
.content-aside {position:relative;padding:10px 20px;background:#e9e9e9;/*-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;*/}
.content-aside-plain {padding:5px 5px 5px 10px;}
.aside-message a {color:#e3030f;}
.aside-message-close {text-decoration:none;display:none;}
.aside-message-close:before {content:' \00d7';}
.content-table {border-collapse:collapse;margin:10px 0;width:100%;}
.content-table td {vertical-align:top;padding:4px 8px 4px 0;border:1px solid #b2b2b2;border-left:none;border-right:none;}
.content-table th {text-align:left;padding:4px 8px 4px 0;}
.content-table-pages-link {display:inline-block;margin:0 14px 0 0;}
.content-side {display:block;float:right;}
.content-header-side {position:absolute;top:0;right:0;font-size:14px;padding:2px 0 0 0;font-weight:normal;text-transform:none;}

.emphasized {text-transform:uppercase;font-size:14px;line-height:22px;}
.contract-list {}
.contract-item {margin:20px 0 0;}
.contract-item:first-child {margin:0;}
.account {margin:27px 0;}
.account-name {width:30%;}
.account-tariff {width:20%;}
.account-options {width:20%;}
.account-status {width:30%;}
.tariff-info {margin:0 0 27px 0;}

.payment-list {}
.payment-list-titles {overflow:hidden;list-style:none;margin:0;padding:0;}
.payment-list-titles dt {text-decoration:underline;color:#0a83ab;cursor:pointer;}
.payment-list-titles dt.selected,
.payment-list-titles dt:hover {color:#ff0000;}
.payment-list-titles dd {height:0;opacity:0;overflow:hidden;padding:0;margin:0;-webkit-transition:500ms ease;-moz-transition:500ms ease;-o-transition:500ms ease;transition:500ms ease;}
.payment-list-titles dd.selected {height:auto;opacity:1;margin:0 0 20px 1em;}
*+html .payment-list-titles dd {display:none;}
*+html .payment-list-titles dd.selected {display:block;}


.account-list-titles {position:relative;z-index:1;list-style:none;margin:0;padding:0;}
.account-list-titles li {position:relative;top:1px;display:inline-block;margin:0 10px 0 0;padding:5px 8px;background:url('bg-tab.png') repeat-x;border:1px solid #ccc;text-decoration:underline;color:#0a83ab;cursor:pointer;}
*+html .account-list-titles li {display:inline;zoom:1;}
.account-list-titles li:hover {color:#ff0000;}
.account-list-titles li.selected {color:#666;text-decoration:none;border-bottom-color:#fff;background-position:0 -22px}
.account-list-fields {list-style:none;margin:0;padding:10px 0;zoom:1;border-top:1px solid #ccc;}
.account-list-fields li {height:0;opacity:0;overflow:hidden;-webkit-transition:500ms ease;-moz-transition:500ms ease;-o-transition:500ms ease;transition:500ms ease;}
.account-list-fields li.selected {height:auto;opacity:1;}
*+html .account-list-fields li {display:none;}
*+html .account-list-fields li.selected {display:block;}

.actions-wrap {background:#fff;}
.actions-wrap.active {position:relative;z-index:2;}
.actions-wrap.active a {border-bottom:none;outline:none;}
.actions-list {display:none;overflow:hidden;position:absolute;top:110%;left:-10px;background:#fff;border:1px solid #ccc;/*-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;*/-webkit-box-shadow:0 0 4px rgba(0,0,0,0.5);-moz-box-shadow:0 0 4px rgba(0,0,0,0.5);box-shadow:0 0 4px rgba(0,0,0,0.5);-webkit-transition:all 250ms ease;-moz-transition:all 250ms ease;-o-transition:all 250ms ease;transition:all 250ms ease;}
.actions-wrap.active .actions-list {display:block;z-index:5;}
.actions-list ul {list-style:none;padding:4px 0;margin:0;}
.actions-list li {position:relative;margin:0;z-index:10;}
.actions-list li a {display:block;padding:3px 10px;}

.support-new-message-form {height:0;opacity:0;overflow:hidden;-webkit-transition:all 250ms ease;-moz-transition:all 250ms ease;-o-transition:all 250ms ease;transition:all 250ms ease;}
.support-new-message-form.active {height:auto;opacity:1;}
.support-old-messages-wrap {height:0;opacity:0;overflow:hidden;-webkit-transition:all 250ms ease;-moz-transition:all 250ms ease;-o-transition:all 250ms ease;transition:all 250ms ease;}
.support-old-messages-wrap.active {height:auto;opacity:1;}
.support-thread {position:relative;margin:16px 0;}
.support-thread-content {height:0;opacity:0;overflow:hidden;-webkit-transition:all 250ms ease;-moz-transition:all 250ms ease;-o-transition:all 250ms ease;transition:all 250ms ease;}
.support-thread.active .support-thread-content {height:auto;opacity:1;}
.support-thread-date {position:relative;left:10px;color:#999;width:100px;}
.support-thread-meta {font-size:10px;color:#999;}
.support-thread-messages {}
.support-thread-message {}
.support-thread-message-text {margin:16px 0;}
.support-thread-message-date {font-size:10px;color:#999;margin-top:-16px;}
.support-thread-add-message {}

/* Corners */
.ctl {position:absolute;z-index:3;background-repeat:no-repeat;top:0;left:0;}
.ctr {position:absolute;z-index:3;background-repeat:no-repeat;top:0;right:0;}
.cbl {position:absolute;z-index:3;background-repeat:no-repeat;bottom:0;left:0;}
.cbr {position:absolute;z-index:3;background-repeat:no-repeat;bottom:0;right:0;}
.b1 .ctl {top:-1px;left:-1px;}
.b1 .ctr {top:-1px;right:-1px;}
.b1 .cbl {bottom:-1px;left:-1px;}
.b1 .cbr {bottom:-1px;right:-1px;}
.c8 span {width:8px;height:8px;}
.c15 span {width:15px;height:15px;}
.c15 .ctl {background-position:0 0;}
.c15 .ctr {background-position:-15px 0;}
.c15 .cbl {background-position:0 -15px;}
.c15 .cbr {background-position:-15px -15px;}
.c8 .ctl {background-position:0 0;}
.c8 .ctr {background-position:-8px 0;}
.c8 .cbl {background-position:0 -8px;}
.c8 .cbr {background-position:-8px -8px;}
.clg2w span {background-image:url('lgray-to-white-15.png');}
.cwrgw span {background-image:url('white-red-graywhite-15.png');}
.cwrw span {background-image:url('white-red-white-15.png');}
.cwlg span {background-image:url('white-to-lgray-15.png');}
.cwmg span {background-image:url('white-to-mgray-15.png');}
.cwdg span {background-image:url('white-to-dgray-8.png');}
.cwt span {background-image:url('white-to-trans-8.png');}

/*
gradient-top-red.png
bg-nav-menu.png
bg-sidebar-nav.png
*/

/* Forms */
.input-text {width:220px;height:21px;}
.input-date,
.input-date-from,
.input-date-to {width:100px;}
.input-text-readonly {border-color:#fff;background:white;display:inline-block;vertical-align:top;max-width:500px;}
.input-textarea {resize:vertical;min-height:80px;width:440px;vertical-align:top;}
.input-select {max-width:220px;}
.input-checkbox {}
.input-submit,
input[type="submit"] {width:87px;padding:0;border:none;color:#fff;font-weight:bold;height:21px;cursor:pointer;text-align:center;background:#e3010d url('button-static.png') center center no-repeat;/*background:-moz-linear-gradient(top, #e06b74 0%, #e3010d 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e06b74), color-stop(100%,#e3010d));background:-webkit-linear-gradient(top, #e06b74 0%,#e3010d 100%);background:-o-linear-gradient(top, #e06b74 0%,#e3010d 100%);background:-ms-linear-gradient(top, #e06b74 0%,#e3010d 100%);background:linear-gradient(top, #e06b74 0%,#e3010d 100%);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*/}
.input-text,
.input-textarea {padding:0 4px;border:1px solid #ccc;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;/*-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*/}
.input-select {padding:0;border:1px solid #ccc;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;/*-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*/}
.input-text:focus,
.input-textarea:focus,
.input-select:focus {color:#000;border-color:#ffe5ad;border-style:solid;}
.input-cancel {padding:0;border:none;display:inline-block;line-height:21px;vertical-align:bottom;height:21px;cursor:pointer;/*width:87px;text-decoration:none;text-align:center;font-weight:bold;color:#fff;background:#666 url('button-static-gray.png') center center no-repeat;background:-moz-linear-gradient(top, #666666 0%, #333333 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#333333));background:-webkit-linear-gradient(top, #666666 0%,#333333 100%);background:-o-linear-gradient(top, #666666 0%,#333333 100%);background:-ms-linear-gradient(top, #666666 0%,#333333 100%);background:linear-gradient(top, #666666 0%,#333333 100%);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*/}
.input-cancel:hover {/*color:#fff;*/text-decoration:none;}
.input-submit + .input-cancel,
input[type="submit"] + .input-cancel {margin-left:10px;}
.input-search {width:440px;}
.form-line {margin:10px 0;}
.form-label,
.form-line label[for="LoginForm_login"],
.form-line label[for="LoginForm_password"] {display:inline-block;vertical-align:baseline;width:120px;margin:0 20px 0 0;color:#666;}
.form-label-block {display:block;color:#666;}
.form-note {font-size:10px;display:inline-block;vertical-align:middle;max-width:240px;margin:0 0 0 4px;}
.form-note a {display:inline-block;margin-right:6px;}
.form-note a.active {color:#333;border-bottom:none;text-decoration:none;}
*+html .form-note,
*+html .form-note a {display:inline;zoom:1;}
#LoginForm_login,
#LoginForm_password {display:block;width:220px;height:21px;padding:0 12px;border:1px solid #ccc;/*-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*/}
.errorSummary p {margin:0;font-weight:bold;display:none;}
.errorSummary li {margin:0;color:#ff0000;font-weight:bold;}
.errorSummary ul {list-style:none;margin:0;padding:0;}