/* Base Styles */
html {font-size:100%;overflow-y:scroll;}
body {margin:0;padding:0;background:-moz-linear-gradient(top, #cccccc 0%, #eaeaea 72px);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(35%,#eaeaea));background:-webkit-linear-gradient(top, #cccccc 0%,#eaeaea 72px);background:-o-linear-gradient(top, #cccccc 0%,#eaeaea 72px);background:-ms-linear-gradient(top, #cccccc 0%,#eaeaea 72px);background:linear-gradient(top, #cccccc 0%,#eaeaea 72px);background-color:#eaeaea;background-repeat:no-repeat;}
body, button, input, select, textarea {font-family:Verdana, Helvetica, sans-serif;font-size:12px;line-height:18px;color:#333;}
a {color:#0055cc;}
a:hover {color:#e3030f;}
a:focus {outline:thin dotted;}
a:hover, a:active {outline:0;text-decoration:none;}
a.pseudo {text-decoration:none;border-bottom:1px dashed;}
h1 {font-weight:normal;font-size:24px;line-height:32px;margin:0 0 20px 0;}
h2 {font-weight:normal;font-size:18px;line-height:24px;margin:24px 0 16px 0;}
h3 {font-size:16px;margin:9px 0 9px;}
input:focus, textarea:focus {outline:none;}
img {border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
ul, ol {margin:12px 0;padding:0 0 0 20px;}
p {margin:16px 0;}
li {margin:0;}
table {border-collapse:collapse;border-spacing:0;}
th, td {vertical-align:top;}
blockquote {margin:9px 40px;}
pre, code, kbd, samp {font-family:monospace;font-size:1em;}
pre {white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q {quotes:none;}
q:before, q:after {content:"";content:none;}
sub, sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
form {margin:0;}
fieldset {border:0;margin:0;padding:0;}
label {cursor:pointer;}

.page {width:960px;margin:0 auto;position:relative;}
.header {margin:0 0 20px 260px;min-height:92px;overflow:hidden;color:#333;}
.header a {color:#333;}
.header-info {float:right;text-align:right;}
.header-stats {float:left;}
.header-message {display:inline-block;padding:4px 8px;background:#333;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-shadow:0 0 4px rgba(0,0,0,0.5);-moz-box-shadow:0 0 4px rgba(0,0,0,0.5);}
.header-message a {color:#fff;}
.header-message-close {text-decoration:none;}
.header-message-close:before {content:' \00d7';}
.footer {margin:20px 0;clear:both;color:#666;}
.footer a {color:#666;}
.footer-copy {position:absolute;}
.footer-menu {display:inline-block;margin:0 0 0 260px;padding:0;}
.footer-menu li {display:inline-block;margin-right:10px;}
.page-message {opacity:0;position:fixed;z-index:10;left:0;right:0;width:100%;padding:9px 0;text-align:center;background:#f9edbd;-webkit-transition:all 250ms ease;-moz-transition:all 250ms ease;-o-transition:all 250ms ease;transition:all 250ms ease;-webkit-box-shadow:0 0 4px rgba(0,0,0,0.5);-moz-box-shadow:0 0 4px rgba(0,0,0,0.5);box-shadow:0 0 4px rgba(0,0,0,0.5);}
.page-message.active {opacity:1;}
.page-message a {color:#333;}
.page-message-close {display:inline-block;width:16px;height:16px;text-decoration:none;}
.page-message-close:before {content:' \00d7';}
.popup-content {width:720px;margin:20px;}

.sidebar {float:left;top:108px;left:0;width:240px;}
.sidebar-logo {position:absolute;left:0;top:0;padding:20px;}
.sidebar-nav {margin:0 0 16px 0;background:#fff;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-shadow:2px 2px 6px rgba(0,0,0,0.5);-moz-box-shadow:2px 2px 6px rgba(0,0,0,0.5);box-shadow:2px 2px 6px rgba(0,0,0,0.5);}
.sidebar-nav-title {color:#fff;padding:4px 20px;background:#e3010d;background:-moz-linear-gradient(top, #e06b74 0%, #e3010d 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e06b74), color-stop(100%,#e3010d));background:-webkit-linear-gradient(top, #e06b74 0%,#e3010d 100%);background:-o-linear-gradient(top, #e06b74 0%,#e3010d 100%);background:-ms-linear-gradient(top, #e06b74 0%,#e3010d 100%);background:linear-gradient(top, #e06b74 0%,#e3010d 100%);-webkit-border-radius:8px 8px 0 0;-moz-border-radius:8px 8px 0 0;border-radius:8px 8px 0 0;}
.sidebar-nav-menu {list-style:none;line-height:24px;margin:0;padding:10px 20px;}
.sidebar-nav-item {}
.sidebar-promo {margin:20px 0;}
.sidebar-promo a {width:150px;display:inline-block;position:relative;background:#999;vertical-align:middle;height:90px;padding:10px;}

.content {width:660px;padding:20px;margin:0 0 40px 260px;background:#fff;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-webkit-box-shadow:2px 2px 6px rgba(0,0,0,0.5);-moz-box-shadow:2px 2px 6px rgba(0,0,0,0.5);box-shadow:2px 2px 6px rgba(0,0,0,0.5);}
.content-table {border-collapse:collapse;margin:10px 0;width:100%;}
.content-table td {vertical-align:top;padding:4px 8px 4px 0;border:1px solid #b2b2b2;border-left:none;border-right:none;}
.content-table th {text-align:left;padding:4px 8px 4px 0;}
.content-table-pages-link {display:inline-block;margin:0 14px 0 0;}
.content-side {display:block;float:right;}
.content-header-side {display:block;float:right;font-size:14px;padding:2px 0 0 0;font-weight:normal;}

.contract-list {}
.contract-item {margin:0 0 20px;}
.account-list {}
.account {margin:27px 0;}
.account-name {width:30%;}
.account-tariff {width:20%;}
.account-options {width:20%;}
.account-status {width:30%;}
.tariff-info {margin:0 0 27px 0;}
.payment-list dt input:checked + dd {display:block;}
.payment-list dd {display:none;margin:0;}
.filters {}
.actions-list {display:none;}

.support-thread {position:relative;margin:16px 0;}
.support-thread-content {display:none;}
.support-thread.active .support-thread-content {display:block;}
.support-thread-date {position:absolute;right:0;color:#999;width:100px;text-align:left;}
.support-thread-meta {font-size:10px;color:#999;}
.support-thread-messages {}
.support-thread-message {}
.support-thread-message-text {margin:16px 0;}
.support-thread-message-date {font-size:10px;color:#999;margin-top:-16px;}
.support-thread-add-message {}

/* Forms */
.input-text {width:220px;height:32px;line-height:32px;}
.input-text-readonly {border-color:#fff;background:white;display:inline-block;vertical-align:top;max-width:500px;}
.input-textarea {resize:vertical;width:220px;}
.input-select {max-width:220px;}
.input-checkbox {}
.input-submit {padding:0 12px;border:1px solid #ccc;color:#fff;font-weight:bold;height:32px;line-height:32px;background:#e3010d;background:-moz-linear-gradient(top, #e06b74 0%, #e3010d 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e06b74), color-stop(100%,#e3010d));background:-webkit-linear-gradient(top, #e06b74 0%,#e3010d 100%);background:-o-linear-gradient(top, #e06b74 0%,#e3010d 100%);background:-ms-linear-gradient(top, #e06b74 0%,#e3010d 100%);background:linear-gradient(top, #e06b74 0%,#e3010d 100%);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;cursor:pointer;}
.input-text,
.input-textarea,
.input-select {padding:4px 12px;border:1px solid #ccc;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.input-text:focus,
.input-textarea:focus,
.input-select:focus {color:#000;border-color:#ffe5ad;border-style:solid;}
.form-line {margin:10px 0;}
.form-label {display:inline-block;vertical-align:baseline;width:120px;margin:0 20px 0 0;line-height:14px;color:#666;}
.form-label-block {display:block;color:#666;}
.form-note {font-size:10px;display:inline-block;vertical-align:baseline;width:240px;margin:0 0 0 12px;}