/*reset*/
html {font-size:100%;overflow-y:scroll;}
body {margin:0;padding:0;color:#333;}
a, input {outline:none;}
a img {border:none;}
span.nw {white-space:nowrap;}

/*colors*/
img {background-color:#999;color:#333;}
.logo {background-color:#333;color:#fff;}
label {color:#666;}

/*kegles*/
select, input, body {font:15px/18px verdana,sans-serif;}
h6, img, form span, .caption {font-size:9px;line-height:12px;}
label, input, select {font-size:12px;}
label {line-height:27px;}
h1 {font:italic normal 33px/36px Georgia,serif;}
h1 small {font-size:50%;color:#999}
h2 {font-size:1em}
h4 {text-transform:uppercase;}
h4, h5, h6 {font-weight:normal;}

/*grid*/
h1, .nav>div {margin-top:27px;}
.images, h2 {margin-top:18px;}
h4, .small img, h1, h2, p, ul, dl {margin-bottom:9px;}
form>div, .images {margin-bottom:18px;}
ul, p, dl, h1+*, h2+* {margin-top:9px;}
h6 {margin:0;}


form span, .big h6 {width:108px;}
input.submit, .title, .logo {width:168px;}
.small img, .small input[type=text], .images.small, .vcard {width:228px;}
.big img, .big input[type=text] {width:408px;}

input {width:100%;line-height:36px;}input[type=checkbox], input[type=radio] {width:auto;margin:0 .25em 0 0;}
select, input[type=text], input[type=password] {padding:9px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #999;}
img, input[type=text], input[type=password] {height:36px;}
input.submit {padding:0;border:1px outset #333;height:36px;}

select {padding:0;}

/*layouts*/
.page {width:948px;margin:0 auto;position:relative;}

label {display:block;}input[type=checkbox]+label, input[type=radio]+label {display:inline-block;line-height:12px;}
.submit, select, input[type=text], input[type=password], form span, h6, img {display:inline-block;margin-right:12px;}
.big input {vertical-align:middle;}
h6 {vertical-align:bottom;}
input[type=text]+input[type=checkbox], input[type=text]+input[type=radio] {vertical-align:middle;}
.big h6 {margin-left:-.25em;}

/*lists*/
ul {padding:0;list-style: circle;}

.header {margin-bottom:36px;min-height:72px;overflow:hidden;}
.header-info {float:right;}
.header-stats {float:left;}
.header-message {display:inline-block;padding:4px;background:#333;color:#fff;}
.nav {position:absolute;top:108px;left:0;}
.pseudo {text-decoration:none;border-bottom:1px dashed;}
.content table {font-size:12px;border-collapse:collapse;margin:10px 0;}
.content table.stats td {border:1px solid #b2b2b2;border-left:none;border-right:none;}
.content table th {text-align:left;padding:2px 4px 2px 0;}
.content table td {vertical-align:top;padding:2px 4px 2px 0;}
.logo {height:30px;padding:30px 0;width:120px;display:inline-block;text-align:center;}
.nav {width:348px;}
.content {width:588px;margin:0 0 108px 348px;}
.promo-blocks {margin-top:20px;}
.promo-blocks a {width:150px;display:inline-block;position:relative;background:#999;vertical-align:middle;height:90px;padding:10px;}
.promo-blocks-small a {width:86px;display:inline-block;position:relative;background:#999;vertical-align:middle;height:50px;padding:10px;}
.form-filter-down {padding:4px;background:#999;border:1px inset #333;text-decoration:none;color:#fff;font-size:12px;}
.form-filter-up {padding:4px;background:#b2b2b2;border:1px outset #333;text-decoration:none;color:#fff;font-size:12px;}

.footer {margin:72px 0;} 
.footer-copy {position:absolute;} 
.footer-menu {display:inline-block;margin:0 0 0 348px;padding:0;} 
.footer-menu li {display:inline-block;margin-right:10px;} 

.actions-list {display:none;}